### Задача 40
Работать с файлом california_housing_train.csv, который находится в папке sample_data. Определить среднюю стоимость дома, где кол-во людей от 0 до 500 (population).

In [20]:
import pandas as pd
dataFrame = pd.read_csv('sample_data/california_housing_train.csv')

#### Убедимся в том, что данные находятся в переменной:

In [21]:
dataFrame.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

#### Смысл .mean() - среднее значение. median() - значение, находящееся в середине набора, упорядоченного по возрастанию (или же полусумма двух соседних по середине, если количество элементов чётно)

In [22]:
print(dataFrame[(dataFrame['population'] >= 0) & (dataFrame['population'] < 501)]['housing_median_age'].mean())
print(dataFrame[(dataFrame['population'] >= 0) & (dataFrame['population'] < 501)]['housing_median_age'].median())

30.74080996884735
32.0

### Задача 42
Узнать какая максимальная households в зоне минимального значения population.

In [23]:
dataFrame[(dataFrame['population'] == dataFrame['population'].min())]['households'].max()

4.0

In [24]:
dataFrame[(dataFrame['population'] == dataFrame['population'].min())]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
8232,-118.44,34.04,16.0,18.0,6.0,3.0,4.0,0.536,350000.0

Замечание: population.min - оно же одно? среди одного значения мы находим households.max(). Что значит зона значения?